.talleS {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid rgb(160, 152, 152);
    text-align: center;
    cursor: pointer;
}

.talleM {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid rgb(160, 152, 152);
    text-align: center;
    cursor: pointer;
}

.talleL {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid rgb(160, 152, 152);
    text-align: center;
    cursor: pointer;
}

/* Colores */

.color {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 2px solid rgb(160, 152, 152);


}

.el-color-disponible {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(128, 81, 0);
    margin: 5px 5px;

}

/* Textos */


.card-title {
    font-size: 2.1rem;

}


.text-body-secondary-precio {

    font-size: 1.7rem;
}

.card-text-lorem {
    font-size: 1.5rem;
}

.card-text .text-body-secondary-talle {
    font-size: 1.7rem;
}

.card-text .text-body-secondary-color {
    font-size: 1.7rem;
}

.col-md-4 {
    margin: 15 25px;
}

h1 {
    text-align: left;
}

/* texto-interes */

.texto-interes {
    text-align: center;
}

/* Iconos aparte */

.agregarMenos {
    font-size: 25px;
}

/*  */

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;


}

.iconos .agregarMenos {
    background-color: red;
    width: 200px;
    height: 200px;
    font-size: 200px;
    z-index: 0;
}

section {
    padding: 100px 14%;
}

.sin-interes {
    text-align: center;
    line-height: 5;
    font-size: 2.1rem;
}

.envio {
    text-align: center;
    font-size: 1.5rem;
}


img {
    width: 350px;
    border-radius: 10px;
}

.contenedor-imagenes {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;



}


.contenido {
    transition: all .35s ease;
}

.contenido:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;


}


.boton-contenedor {
    display: flex;
    justify-content: center;
}

.boton-contenedor button {
    width: 200px;
    height: 35px;
}


@media (max-width:670px) {
    .contenedor-imagenes {
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
        text-align: center;

    }





}